/*bootstrap_patch*/
.input-group .form-control:not(:first-child):not(:last-child),.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child){border-right:1px;}
.input-group .form-control{z-index:0;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{color:#fff;text-decoration:none;background-color:#357ebd;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:06px6px6px;-moz-border-radius:06px6px6px;border-radius:06px6px6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:"";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px05px5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px06px6px;-moz-border-radius:6px06px6px;border-radius:6px06px6px;}
/****************/
.inputHidden {
	width: 0px; 
	padding: 0px; 
	border: 0px; 
	display: none;
}
.inputElementSpan {
	padding: 0px 10px 0px 25px;
	font-size: 12px;
	width: 34px !important;
}
.inputSubjectSpan {
	padding-right: 25px;
	font-weight: bold;
}
.inputSubjectInput {
	padding: 2px;
	margin-left: 2px;
	font-size: 12px;
	font-weight: normal;
}
.inputPredicateSpan {
}
.inputObjectSpan {
	padding-right: 25px;
}
.inputWordTypeIcon {
	position: absolute;
	top: 0px;
	line-height: 1.5;
	margin-left: 0px;
	padding: 0px 3px;
	border-radius: 0px 0px 4px 0px;
	border-top-left-radius: inherit;
	border: 1px solid #ccc;
	font-size: 12px;
	z-index: 1;
}
.inputElementSpan > .inputWordTypeIcon {
	margin-left: -26px;
	color: #fff;
	background-color: #666;
}
.inputNoteInput, .inputSourceInput {
	padding-left: 25px;
}
.btnPlusAt {
	position: absolute;
	top: 0px;
	padding: 0px 3px;
	margin-left: 6px;
	border-radius: 0px 0px 0px 4px;
	border-color: #ccc;
	border-top-right-radius: inherit;
	font-size: 12px
}
.dropdownInputLi {
	margin: 0px 5px;
}
.dropdownInput {
	font-size: 12px;
	height: 20px;
}
.afterInputButton {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 20px;
	vertical-align: top;
	border-left-width: 0px;
	margin-left: -5px;
}
.afterInputButton:not(:last-child) {
	border-radius: 0;
}
.inputReadyButton {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.modifiable:hover {

}

.inputAchMain {
	/*width: 100%;*/
}